h1 {
  text-align: center;
}

.btn {
  border: 2px solid #000000;
  color: #000000;
  font-weight: 500;
}

div.list-group {
  margin: 20px 0 0;
}

.list-group-item {
  max-width: auto;
}

.incompletedItem {
  text-decoration: none;
}

.completedItem {
  text-decoration: line-through;
}

div.listButtons.col {
  float: right;
  padding: 0;
  width: auto;
}
