body {
  background: linear-gradient(
    85deg,
    rgb(208 210 210) 11.2%,
    rgb(181 186 187) 88.9%
  );
}

h1 {
  text-align: center;
  padding: 25px 0;
}

.btn {
  border: 2px solid #000000;
  color: #000000;
  font-weight: 500;
}

div.list-group {
  margin: 20px 0 0;
}

.list-group-item {
  max-width: auto;
}

.incompletedItem,
.completedItem {
  border: 2px solid #000000;
  padding: 6px 12px;
  vertical-align: middle;
}

.incompletedItem {
  text-decoration: none;
}

.completedItem {
  background-color: rgb(197, 193, 193);
  text-decoration: line-through;
}

div.listButtons.col {
  float: right;
  padding: 0;
  width: auto;
}
footer {
  text-align: center;
  margin: 25px 0 0;
}
